@media only screen and (max-width:600px){
    html, body {
        overflow-x:hidden;
        max-width: 100%;
    }
    body{
        margin:0;
        padding:0;
        width:100%;
        background-color:rgb(188, 224, 255);
    }
    .header{
        width: 100%;
    }
    .intro{
        width:100%;
        height:110%;
    }
    .img{
        width:40%;
        left:-10%;
        top:20%;
        }
    .logo{
        font-size: 356%;
    }
    .header{
        width:100%;

    }
    .nav_links li {
        padding: 0px 1.5px;
    }
    .s2{
        height:300px;
        top:70%;
        width:100vh;
        background-color:#011b3f;
    }
    .college{
        left:2%;
        top:100px;
        font-size: 190%;
    }
    .committee{
        left:2%;
        font-size: 140%;
        top:152px;
    }
 
    .player{
        width:34%;
        top:145px;
        left:66%;
    }
    .s3{
        height:700px;
    }
    .v{
        top:450px;
    }
    .m{
        top:660px;
    }
    .o{
        top:830px;
    }
    .vt{
        top:480px;
        width:20%;
        left:10%;
        text-align: center;
    }
    .mt{
        top:660px;
        width:20%;
        left:10%;
        text-align: center;
    }
    .ot{
        top:830px;
        left:10%;
    }
    .vision{
        font-size: small;
        left:9%;
        top:390px;
    }
    .mission{
        font-size: small;
        left:9%;
        top:510px;
    }
    .objective{
        font-size: small;
        left:9%;
        top:630px;
    }.cardpop{
        z-index: 100;
        top:-400px;
        opacity: 0;
    }
    .cardpop:hover{
        opacity:1;
    }
    .card,.cardpop{
        width:100%;
        height:400px;
    }
    .s4{
        height:1350px;
        width:100%;
        top:90%;
        background-color:#e30040;
    }
    .column1{
        left:10%;
        align-items: center;
        top:1020px;
        width:80%;

    }
    .column2{
        left:10%;
        top:1460px;
        width:80%;

    }
    .column3{
        left:10%;
        top:1900px;
        width:80%;

    }
    .copyright{
        top:2380px;
        left:32%;
    }
    .s5{
        height:-20%;
    }
    
}
