@media only screen and (max-width:600px){
    html, body {
        overflow-x:hidden;
        max-width: 100%;
    }
    body{
        margin:0;
        padding:0;
        width:100%;
        background-color:rgb(188, 224, 255);
    }
    .header{
        width: 100%;
    }
    .intro{
        width:100%;
        height:110%;
    }
    .img{
        width:40%;
        left:-10%;
        top:20%;
        }
    .logo{
        font-size: 356%;
    }
    .header{
        width:100%;

    }
    .nav_links li {
        padding: 0px 1.5px;
    }
    .s2{
        height:300px;
        top:70%;
        width:100vh;
        background-color:#011b3f;
    }
    .college{
        left:2%;
        top:12%;
        font-size: 190%;
    }
    .committee{
        left:2%;
        font-size: 140%;
        top:18%;
    }
 
    .player{
        width:40%;
        top:15%;
        left:60%;
    }
    .s3{
        height:700px;
    }
    .v{
        top:55%;
    }
    .m{
        top:80%;
    }
    .o{
        top:100%;
    }
    .vt{
        top:57%;
        width:20%;
        left:10%;
        text-align: center;
    }
    .mt{
        top:79%;
        width:20%;
        left:10%;
        text-align: center;
    }
    .ot{
        top:100%;
        left:10%;
    }
    .vision{
        font-size: small;
        left:9%;
        top:47%;
    }
    .mission{
        font-size: small;
        left:9%;
        top:62%;
    }
    .objective{
        font-size: small;
        left:9%;
        top:77%;
    }.cardpop{
        z-index: 100;
        top:-92%;
        opacity: 0;
    }
    .cardpop:hover{
        opacity:1;
    }
    .card,.cardpop{
        width:100%;
        height:90%;
    }
    .s4{
        height:1300px;
        width:100%;
        top:90%;
        background-color:#e30040;
    }
    .column1{
        left:10%;
        align-items: center;
        top:122%;
        width:80%;

    }
    .column2{
        left:10%;
        top:170%;
        width:80%;

    }
    .column3{
        left:10%;
        top:218%;
        width:80%;

    }
    .copyright{
        top:272%;
        left:32%;
    }
    .s5{
        height:-20%;
    }
    
}
